<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ReadFromMapper" >
  <resultMap id="BaseResultMap" type="entity.ReadFrom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tuijian" property="tuijian" jdbcType="VARCHAR" />
    <result column="pindao" property="pindao" jdbcType="VARCHAR" />
    <result column="qita" property="qita" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tuijian, pindao, qita
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from readfrom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getReadFromData" resultType="entity.ReadFrom">
    SELECT count(tuijian) 'tuijian',count(pindao) 'pindao',count(qita) 'qita' FROM readfrom
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from readfrom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.ReadFrom" >
    insert into readfrom (id, tuijian, pindao, 
      qita)
    values (#{id,jdbcType=INTEGER}, #{tuijian,jdbcType=VARCHAR}, #{pindao,jdbcType=VARCHAR}, 
      #{qita,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.ReadFrom" >
    insert into readfrom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tuijian != null" >
        tuijian,
      </if>
      <if test="pindao != null" >
        pindao,
      </if>
      <if test="qita != null" >
        qita,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tuijian != null" >
        #{tuijian,jdbcType=VARCHAR},
      </if>
      <if test="pindao != null" >
        #{pindao,jdbcType=VARCHAR},
      </if>
      <if test="qita != null" >
        #{qita,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.ReadFrom" >
    update readfrom
    <set >
      <if test="tuijian != null" >
        tuijian = #{tuijian,jdbcType=VARCHAR},
      </if>
      <if test="pindao != null" >
        pindao = #{pindao,jdbcType=VARCHAR},
      </if>
      <if test="qita != null" >
        qita = #{qita,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.ReadFrom" >
    update readfrom
    set tuijian = #{tuijian,jdbcType=VARCHAR},
      pindao = #{pindao,jdbcType=VARCHAR},
      qita = #{qita,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>